---
layout: default
title:
---
    <section id="home">
        <div class="row">
            <div class="span avatar">
                <img src="http://gravatar.com/avatar/c5df370a883b65279af5a7ca94a5eed7?s=90" alt="Avatar" />
            </div>
            <div class="span6">
                <p>Sou graduando em <a href="http://inf.ufrgs.br">ciência da computação</a> e trabalho com desenvolvimento web há mais de sete anos.</p>
                <p>Comecei como programador PHP, depois freelancer <em>faz-tudo</em> a sócio fundador da <a href="http://curestudio.com.br">Cure Studio</a>. Logo mudei de cidade e voltei pro home office. Construi um <a href="/portfolio.html">portfólio</a> bacana e até de designer ataquei.</p>
                <p>Atualmente trabalho com front-end e sou líder técnico na <a href="http://gri.fo">Gri.fo</a>.</p>
            </div>
        </div>
    {% for category in site.categories %}
        <article>
            <h1>{{ category | first | capitalize }}</h1>
            <ul>
            {% for post in category[1] %}
                <li><a href="#">
                    <time>{{ post.date | date_format }}</time>
                    <span>{{ post.title }}</span>
                </a></li>
            {% endfor %}
            </ul>
        </article>
    {% endfor %}
    </section>