<!DOCTYPE HTML>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>
    {% if page.title %}{{ page.title }} ~{% endif %} {{ site.name }}
  </title>
  <meta name="viewport" content="width=device-width">

  <link href="http://feeds.feedburner.com/jeancarloemer" rel="alternate" type="application/rss+xml">
  <link rel="apple-touch-icon-precomposed" href="{% asset_path apple-touch-icon-precomposed.png %}">

  <meta property="og:type" content="{% if page.date %}article{% else %}website{% endif %}">
  <meta property="og:site_name" content="Jean Carlo Emer"/>
  <meta property="og:url" content="{{ page.url }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }} ~{% endif %} {{ site.name }}">
  <meta property="og:description" content="{{ page.excerpt | strip_html }}">
  <meta property="og:image" content="{{ site.url }}/assets/images/badge.jpg">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CRaleway:800%7CDroid+Sans+Mono:400" rel="stylesheet" type="text/css">
  <style>
    {% asset index.scss %}
  </style>
  <link rel="canonical" href="{{ page.url }}">

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');


    ga('create', 'UA-37078527-1', 'auto')
    ga('send', 'pageview')
  </script>
</head>
<body>
  <div class="lobby">
    <div class="wrapper">
      <a href="/" class="my-name" title="Página inicial">Jean <span class="middle-name">Carlo</span> Emer</a>
      <nav class="menu">
        <ul class="menu-list">
          {% for item in site.data.menu %}
            <li class="menu-item">
              <a href="{{ item.url }}" class="menu-link {{item.type}}">{{ item.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>

  {{ content }}

  <footer class="footer">
    <p class="wrapper">
      <span class="credits">Made with <span class="glasses">🕶</span> by Jean Carlo Emer</span>
    </p>
  </footer>
  <script>
    {% asset main.js %}
  </script>
</body>
</html>
