.footer {
  .brand {
    width: rem(90px);
    height: rem(55px);
  }
  .credits {
    color: $footer-color;
    font: 300 italic 1rem/#{rem(55px)} $main-font;
    float: right;
  }
  .cure {
    display: inline-block;
    vertical-align: middle;
    width: rem(40px);
    height: rem(15px);
    background: asset_data_uri("cure.svg");
    background-size: 100% 100%;
    font: 0/0 a;
  }
}
