.header {
  color: $main-color;
  text-transform: uppercase;
  position: relative;
  clear: both;

  .header-title-hide {
    position: absolute;
    left: -9999rem;
  }
  .header-title {
    margin: 0;
    font: 800 2rem/.9 $empashis-font;
    letter-spacing: -0.08rem;
    @media screen and (min-width: 600px) {
      font-size: 5rem;
    }
    a {
      color: $main-color;
    }
    a:hover {
      color: darken($main-color, 5);
      text-decoration: none;
    }
  }
  .header-date {
    display: block;
  }
}
