.lobby {
  padding-top: 1.2rem;
  @media screen and (min-width: 600px) {
    padding-top: 3rem;
  }

  .wrapper {
    padding: 0 0.8rem;
    position: relative;
  }

  .my-name {
    text-transform: uppercase;
    display: block;
    font: 800 2rem/.9 $empashis-font;
    @media screen and (min-width: 600px) {
      font-size: 3rem;
    }
    &:hover {
      text-decoration: none;
    }
  }

  .menu {
    display: block;
  }

  @media screen and (min-width: 600px) {
    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .my-name {
      .middle-name {
        font-weight: 300;
        display: block;
        font-size: .9em;
      }
    }
  }

  .menu-list {
    margin: 0 -.4em;
    padding: 0;
    list-style: none;
  }
  .menu-item {
    display: inline-block;
  }
  .menu-link {
    display: block;
    font: 700 1rem $empashis-font;
    padding: .4em;
    text-decoration: none;
    color: $red;
    &:hover {
      text-decoration: underline;
    }
  }
}
