.lobby {
  padding-top: 1.2rem;
  @media screen and (min-width: 600px) {
    padding-top: 3rem;
  }

  .wrapper {
    padding: 0 0.8rem;
    position: relative;
    overflow: visible;
  }

  .brand {
    display: block;
    width: rem(288px);
    height: rem(37px);
    font: 0/0 a;
    white-space: nowrap;
    overflow: hidden;
    background: asset_data_uri("logo_slim.svg") no-repeat;
    background-size: 100% 100%;
  }

  .menu {
    display: block;
    margin-bottom: -.6rem;
  }

  @media screen and (min-width: 600px) {
    .brand {
      float: left;
    }
    .menu {
      float: right;
      margin-bottom: 0;
    }
  }

  .menu-list {
    line-height: rem(37px);
    margin: 0 -.4em;
    padding: 0;
    list-style: none;
  }
  .menu-item {
    display: inline-block;
    margin: 0 .4em;
  }
  .menu-link {
    font: 700 1rem $empashis-font;
    padding: .25rem 0;
    text-decoration: none;
    color: $red;
    &:hover {
      text-decoration: underline;
    }
  }
}
