.lobby {
  padding-top: 1.2rem;
  @media screen and (min-width: 600px) {
    padding-top: 2rem;
  }

  .wrapper {
    padding: 0 0.8rem;
    position: relative;
    @media screen and (min-width: 600px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .my-name {
    text-transform: uppercase;
    display: block;
    font: 800 2rem/1 $empashis-font;
    @media screen and (min-width: 600px) {
      font-size: 3rem;
    }
    .middle-name {
      position: absolute;
      left: -9999rem;
    }
    &:hover {
      text-decoration: none;
    }
  }

  .menu {
    display: block;
  }

  .menu-list {
    margin: 0 -.4em;
    padding: 0;
    list-style: none;
  }
  .menu-item {
    display: inline-block;
  }
  .menu-link {
    display: block;
    font-weight: 700;
    font-size: 1rem;
    padding: .4em;
    text-decoration: none;
    color: $red;
    &.social {
      font-weight: 300;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
