.main {
  background: white;
  font-size: 1.2em;
  h2, h3, h4 {
    position: relative;
    line-height: 1.2;
    font-family: $empashis-font;
    font-weight: 800;
    a[name] {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -.8em;
      width: .8em;
    }
    &:hover a[name] {
      color: $grey-color;
      &:before {
        content: '►';
        font-size: .7em;
      }
      &:hover {
        text-decoration: none;
        color: $dark-grey-color;
      }
    }
  }
  h2 {
    font-size: 2.2em;
    color: darken($dark-grey-color, 15);
  }
  h3 {
    font-size: 1.6em;
    color: darken($dark-grey-color, 5);
  }
  h4 {
    font-size: 1.3em;
  }
  p {
    margin: 0 0 1.8em 0;
  }

  a[href][target=_blank] {
    &:after {
      content: ' ▲';
      font-size: .5em;
      vertical-align: middle;
      color: $grey-color;
    }
    &:hover:after {
      color: $dark-grey-color;
    }
  }

  hr {
    border: none;
    border-top: 2px solid $grey-color;
    width: 6rem;
    margin: 4rem 0;
  }
  code {
    display: inline-block;
    padding: .1rem .35rem;
    font-family: $code-font;
    font-size: .9rem;
    background: $light-grey-color;
    color: darken($grey-color, 40);
  }
  blockquote {
    padding-left: 2rem;
    margin: 1.8em 0;
    border-left: 2px solid $grey-color;
    font-size: 1.5em;
    font-family: $main-font;
    font-weight: 300;
    font-style: italic;
  }
  pre {
    counter-reset: line-numbering;
    background: white;
    line-height: 1.5;
    white-space: pre;
    overflow-x: auto;
    word-break: inherit;
    word-wrap: inherit;
    code {
      background: none;
      padding: 0;
    }
    a[name]:before {
      content: counter(line-numbering);
      counter-increment: line-numbering;
      display: inline-block;
      width: 2rem;
      padding-right: .5rem;
      margin-right: .5rem;
      text-align: right;
      color: darken($grey-color, 15);
      background: $light-grey-color;
      user-select: none;
    }
    a:first-of-type::before,
    a:only-of-type::before {
        padding-top: .2rem;
    }
    a:last-of-type::before,
    a:only-of-type::before {
        padding-bottom: .2rem;
    }
  }

  // video wrapper
  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  // post meta
  .post-meta {
    position: absolute;
    left: -9999em;
  }
  #disqus_thread {
    margin-top: 4rem;
  }
}

.list-menu {
  @media screen and (max-width: 1300px) {
    display: none;
  }
  list-style: none;
  padding: 6rem 0;
  margin: 0;
  position: absolute;
  left: calc(50% - 620px);
  transition: top 300ms ease-out;
  width: 130px;
  &.fixed {
    position: fixed;
    top: 0;
  }
  li {
    display: block;
    padding-bottom: 2rem;
  }
  a {
    display: block;
    color: $main-color;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.8rem;
    text-decoration: none;
    text-align: right;
    &.active {
      font-size: 3rem;
      font-weight: 700;
    }
  }
  &.script-enable {
    a {
      opacity: .5;
      transition: font-size 200ms ease-out;
      &.active {
        opacity: 1;
      }
    }
  }
}

.main .list-header {
  padding-top: 1.2rem;
  margin-bottom: .6rem;
  color: $main-color;
  font: 700 2rem/1.2 $main-font;
  @media screen and (min-width: 600px) {
    padding-top: 5rem;
    margin-bottom: 2.5rem;
    font-size: 3rem;
  }
  @media screen and (min-width: 1301px) {
    position: absolute !important;
    left: -9999em;
  }
}

.main .list {
  list-style: none;
  padding: 0;
  margin: 0;
  @media screen and (min-width: 1301px) {
    padding: 6rem 0 1rem 0;
    min-height: 100vh;
  }
  .list-item {
    margin-bottom: 1.5rem;
    @media screen and (min-width: 600px) {
      margin-bottom: 3rem;
    }
    p {
      margin-top: 0;
    }
  }
  .item-link {
    display: block;
    text-decoration: none;
    &:hover .item-main-title {
      text-decoration: underline;
    }
    &[href][target=_blank]:after {
      display: none;
    }
  }
  .item-title {
    display: block;
    font: 800 2rem/1.2 $empashis-font;
    @media screen and (min-width: 600px) {
      font-size: 2.5rem;
    }
  }
}
