* {
  box-sizing: border-box;
}

body {
  background: asset_data_uri('background.svg') center top $background-color;
  background-attachment: fixed;
  font-family: $main-font;
  line-height: 1.8;
  color: $dark-grey-color;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: darken($link-color, 10);
    text-decoration: underline;
  }
}

.empashis-item {
  font-size: 1.2rem;
  color: $main-color;
}

.wrapper {
  padding: 1.2rem .8rem;
  margin: 0 auto;
  max-width: 900px;
  @media screen and (min-width: 600px) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
