* {
  box-sizing: border-box;
}

body {
  background: asset_data_uri('background.svg') center top $background-color;
  background-attachment: fixed;
  font-family: $main-font;
  color: $dark-grey-color;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: darken($link-color, 10);
    text-decoration: underline;
  }
}

.empashis-item {
  text-transform: uppercase;
  font: 300 1rem $empashis-font;
  color: $main-color;
  @media screen and (min-width: 600px) {
    font-size: 1.2rem;
  }
  &:before {
    content: ' — ';
  }
  &:first-of-type:before  {
    content: none;
  }
}

.wrapper {
  padding: 1.2rem .8rem;
  margin: 0 auto;
  max-width: 760px;
  @media screen and (min-width: 600px) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
