.lobby {
  position: relative;
  z-index: 1;

  @media screen and (min-width: 800px) {
    position: absolute;
    top: 0;
    left: 0; right: 0;
  }

  .wrapper {
    padding: 0 0.8rem;
    position: relative;
    overflow: visible;
  }
  .brand,
  .menu-toggle {
    margin-top: .8rem;
    @media screen and (min-width: 600px) {
      margin-top: 3rem;
    }
  }

  .brand {
    float: left;
    width: rem(288px);
    height: rem(37px);
    font: 0/0 a;
    white-space: nowrap;
    overflow: hidden;
    background: inline-image("logo_slim.svg") no-repeat;
    @media screen and (min-width: 800px) {
      width: rem(180px);
      height: rem(110px);
      background: inline-image("logo.svg") no-repeat;
    }
    background-size: 100% 100%;
  }

  .menu-list {
    padding: 2rem 3rem;
    margin: 0;
    position: absolute;
    top: 3.5rem;
    @media screen and (min-width: 600px) {
      top: 5.5rem;
    }
    right: 0;
    list-style: none;
    background: linear-gradient(135deg, transparent 30px, white 30px);
    display: none;

    -webkit-transition: right 0.4s ease-out;
    -moz-transition: right 0.4s ease-out;
    -ms-transition: right 0.4s ease-out;
    -o-transition: right 0.4s ease-out;
    transition: right 0.4s ease-out;

    &:before {
      position: absolute;
      top: -15px;
      right: 0;
      content: '';
      border: 15px solid;
      border-color: transparent white transparent transparent;
    }
  }
  .menu-link {
    font: 700 1rem $empashis-font;
    @media screen and (min-width: 600px) {
      font-size: 1.3rem;
    }
    display: block;
    padding: .25rem 0;
    text-decoration: none;
    color: $red;
    &:hover {
      text-decoration: underline;
    }
  }

  .menu-toggle {
    float: right;
    font: 0/0 a;
    &:before {
      content: '☰';
      display: inline-block;
      font-size: 2rem;
      margin-top: 1.2rem;
    }
  }
  .menu:target {
    .menu-list {
      display: block;
    }
  }
}
