.main {
  background: white;
  @media screen and (min-width: 600px) {
    .wrapper {
      padding: 3rem 0;
    }
  }

  h2, h3, h4 {
    position: relative;
    a[name] {
      width: 1em;
      height: 1.4em;
      position: absolute;
      top: 0;
      left: -.9em;
    }
    &:hover a[name] {
      background: inline-image("anchor.svg") left center no-repeat;
      background-size: 80% auto;
    }
  }

  h2 {
    margin-top: 1.5rem;
    color: darken($dark-grey-color, 15);
  }

  h3 {
    color: darken($dark-grey-color, 5);
  }

  a[href][target=_blank]:after {
    content: '';
    display: inline-block;
    height: .5em;
    width: .6em;
    vertical-align: .2em;
    background: inline-image("external_link.svg") right center no-repeat;
    background-size: auto 100%;
  }

  hr {
    height: 2px;
    border: none;
    background: $light-grey-color;
    width: 20%;
    margin: 1.5rem auto;
  }

  code {
    display: inline-block;
    padding: .1rem .35rem;
    font-family: 'Droid Sans Mono', monospace;
    font-size: .9rem;
    background: $light-grey-color;
    color: darken(#93a1a1, 10);
    border-radius: 4px;
  }

  blockquote {
    border-left: 5px solid $light-grey-color;
    padding-left: 1.5em;
    margin-left: 0;
  }

  pre {
    counter-reset: line-numbering;
    border: solid 2px $grey-color;
    border-radius: 4px;
    background: white;
    line-height: 1.5;
    white-space: pre;
    overflow-x: auto;
    word-break: inherit;
    word-wrap: inherit;

    code {
      background: none;
      padding: 0;
    }

    a[name]:before {
      content: counter(line-numbering);
      counter-increment: line-numbering;
      display: inline-block;
      width: 2rem;
      padding-right: .5rem;
      margin-right: .5rem;
      text-align: right;
      color: darken($grey-color, 15);
      border-right: 1px solid $grey-color;

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    a:first-of-type::before,
    a:only-of-type::before {
        padding-top: .2rem;
    }

    a:last-of-type::before,
    a:only-of-type::before {
        padding-bottom: .2rem;
    }
  }

  // video wrapper
  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  // post meta
  .post-meta {
    margin: 3rem 0;
    text-align: right;
    font: 300 italic 1rem $main-font;
    .tags {
      display: block;
    }
    ul {
      display: inline;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      display: inline;
      + li:before {
        margin-left: -4px;
        content: ', ';
      }
    }
  }
}

body.ice-cream .main {
  background: rgba(white, .6);
}

@import "main_lists";
