$dark-grey-color: #666;
$grey-color: #EAEAEA;
$light-grey-color: #F9F9F9;
$blue-color: #404356;
$orange-color: darken(red, 3);

@mixin before($gap, $content) {
  &:before {
    content: $content + ' ';
    display: inline-block;
    margin-right: $gap;
    font-size: .8em;
    color: $grey-color;
  }
}
