@function rem($px, $base: 16px) {
    @return ($px / $base) * 1rem;
}

@mixin before-pipe {
  &:before {
    content: '';
    display: inline-block;
    margin: 0 8px 0 4px;
    width: 0;
    height: .8em;
    border-right: 1px solid $main-color;
  }
}
