* {
  box-sizing: border-box;
}

body {
  background: inline-image("background.svg") center top $background-color;
  background-attachment: fixed;
  font-family: $main-font;
  color: $dark-grey-color;
  &.ice-cream {
    background: url("../images/ice_cream.jpg") center top white no-repeat;
    background-attachment: fixed;
    background-size: contain;
  }
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: lighten($link-color, 5);
    text-decoration: underline;
  }
}

.wrapper {
  padding: .8rem;
  margin: 0 auto;
  max-width: 760px;
  @media screen and (min-width: 600px) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
