.main {
  h2 {
    margin-top: 1.5em;
  }

  hr {
    height: 2px;
    border: none;
    background: $light-grey-color;
    width: 20%;
    margin: 1.5em auto;
  }

  // disqus
  #disqus_thread {
    margin-top: 3em;
  }
}
