.main {
  h2, h3, h4 {
    position: relative;
    a[name] {
      width: 1em;
      height: 1.4em;
      position: absolute;
      top: 0;
      left: -.9em;
    }
    &:hover a[name] {
      background: url("/assets/images/anchor.svg") left center no-repeat;
      background-size: 80%;
    }
  }

  h2 {
    margin-top: 1.5em;
  }

  hr {
    height: 2px;
    border: none;
    background: $light-grey-color;
    width: 20%;
    margin: 1.5em auto;
  }

  // disqus
  #disqus_thread {
    margin-top: 3em;
  }
}
