.post-list {
  list-style: none;
  margin: 0;
  padding: 0;
  .post-item {
    margin-bottom: 2em;
  }
  .post-date {
    display: block;
    color: $dark-grey-color;
  }
  .post-date-month {
    @include before-slash(4px);
  }
  .post-link {
    text-decoration: none;
    &:hover .post-title {
      text-decoration: underline;
    }
  }
}
