.talks-list {
  list-style: none;
  margin: 0;
  padding: 0;
  .date {
    display: inline-block;
  }
  .talk-event {
    @include before(4px, '@');
  }
  .talk-title {
    display: block;
    font-size: 1.2em;
  }
}
