@import "helpers";

body {
  margin: 0;
  font-family: "open sans";
  color: $dark-grey-color;
}

.wrapper {
  max-width: 600px;
  padding: 0 10px;
  margin: 0 auto;
}

.lobby,
.main,
.footer {
  padding: 1em 0;
  @media screen and (min-width: 500px) {
    padding: 2.5em 0;
  }
}

.footer {
  background: $light-grey-color;
  font-size: .8em;
  @media screen and (min-width: 500px) {
    font-size: .9em;
  }
}

.brand {
  display: inline-block;
  font: 900 1.8em/1 "lato";
  @media screen and (min-width: 500px) {
    font-size: 2.2em;
  }
  text-transform: uppercase;
  letter-spacing: -0.05em;
  color: $orange-color;
  text-decoration: none;
  text-shadow: 2px 2px 0 rgba(black, .06);
  &:hover {
    color: darken($orange-color, 10);
  }
}

nav {
  font-size: .9em;
  @media screen and (min-width: 500px) {
    font-size: 1em;
  }
  margin: .2em 0 0 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    margin-right: 4px;
    + li {
      @include before-slash(7px);
    }
  }
  a {
    text-transform: lowercase;
    text-decoration: none;
    color: $dark-grey-color;
    &:hover {
      color: black;
    }
  }
}

.header {
  background: $blue-color;
  color: white;
  .title {
    padding: .6em 0;
    margin: 0;
    font: 700 2em/1 "lato";
    text-shadow: 3px 3px 0 rgba(black, .3);
    @media screen and (min-width: 500px) {
      font-size: 4em;
    }
  }
}

#disqus_thread {
  margin-top: 3em;
}

hr {
  height: 2px;
  border: none;
  background: $light-grey-color;
  width: 20%;
  margin: 1.5em auto;
}

// lists
.list-item {
  margin-bottom: 1.5em;
  @media screen and (min-width: 500px) {
    margin-bottom: 2em;
  }
}

// item date
.item-date {
  display: block;
  color: $dark-grey-color;
}
.item-date-month {
  @include before-slash(4px);
}

@import "posts_list";
@import "talks_list";
