$background-color: #F1F2EC;
$main-color: #C38633;
$red: #EE4037;
$link-color: $red;
$footer-color: #EE4037;
$dark-grey-color: #666;
$grey-color: #EAEAEA;
$light-grey-color: #F9F9F9;

$main-font: 'Open Sans', sans-serif;
$empashis-font: 'Raleway', sans-serif;
$code-font: 'Droid Sans Mono', monospace;
