---
menu:
 -
  url:  /sobre.html
  name: Sobre
 -
  url:  /talks.html
  name: Talks
 -
  url:  /
  name: Posts
 -
  url: "http://twitter.com/jcemer"
  name: "Twitter"
 -
  url: "http://github.com/jcemer"
  name: Github
---
<!DOCTYPE HTML>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>
    {% if page.title %}{{ page.title }} ~{% endif %} {{ site.name }}
  </title>
  <meta name="viewport" content="width=device-width">

  <link href="http://feeds.feedburner.com/jeancarloemer" rel="alternate" type="application/rss+xml">
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

  <meta property="og:type" content="{% if page.date %}article{% else %}website{% endif %}">
  <meta property="og:site_name" content="Jean Carlo Emer"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }} ~{% endif %} {{ site.name }}">
  <meta property="og:description" content="{{ page.excerpt | strip_html }}">
  <meta property="og:image" content="{{ site.url }}/assets/images/badge.jpg">

  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,700%7CRaleway:300,700,800%7CDroid+Sans+Mono:400" rel="stylesheet" type="text/css">
  <link href="/assets/stylesheets/index.css" rel="stylesheet" type="text/css">

  <link rel="canonical" href="{{ site.url }}{{ page.url }}">

  <script>
    window._gaq = [
      ['_setAccount', 'UA-37078527-1']
    , ['_trackPageview']
    ]
  </script>
</head>
<body>
  <div class="lobby">
    <div class="wrapper">
      <nav id="menu" class="menu">
        <ul class="menu-list">
          {% for item in page.menu %}
            <li><a href="{{ item.url }}" class="menu-link">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
        <a href="#menu" class="menu-toggle" data-menu-toggle>menu</a>
      </nav>
      <a href="/" class="brand" title="Página inicial">Jean Carlo Emer</a>
    </div>
  </div>

  {{ content }}

  <footer class="footer">
    <p class="wrapper">
      <span class="credits">Layout por <a href="http://curestudio.com.br" class="cure" target="_blank">Cure</a></span>
    </p>
  </footer>
  <script src="/assets/scripts/main.js"></script>
</body>
</html>
