---
layout: default
home: true
---

<header class="header">
  <div class="wrapper">
    <h1 class="header-title-hide">Postagens do blog</h1>
    <p class="header-title">
      Pick a <br>reading!
    </p>
  </div>
</header>

<div class="main">
  <ul class="wrapper list">
  {% for post in site.posts %}
    <li class="list-item">
      <a class="item-link" href="{{ post.url }}">
        <span class="empashis-item">{{ post.date | date: '%Y' }}</span>
        <span class="empashis-item">{{ post.date | date: '%B' }}</span>
        <span class="item-title">
          <span class="item-main-title">{{ post.title }}</span>
          {% if post.external %}
            <span class="empashis-item">on {{ post.external }}</span>
          {% endif %}
        </span>
      </a>
      {{ post.excerpt }}
    </li>
  {% endfor %}
  </ul>
</div>
