---
layout: default
home: true
---

<header class="header">
  <div class="wrapper">
    <h1 class="header-title-hide">Postagens do blog</h1>
    <p class="header-title">
      Pick a <br>reading!
    </p>
  </div>
</header>

<div class="main">
  <ul class="wrapper list">
  {% for post in site.posts %}
    <li class="list-item">
      <a class="item-link" href="{{ post.url }}">
        <time class="item-date" datetime="{{ post.date | date: '%Y-%m-%d' }}">
          <span class="item-date-year">{{ post.date | date_year }}</span>
          <span class="item-date-month">{{ post.date | date_month }}</span>
        </time>
        {% if post.external %}
        <span class="item-external">{{ post.external }}</span>
        {% endif %}
        <span class="item-title">{{ post.title }}</span>
      </a>
      {{ post.excerpt }}
    </li>
  {% endfor %}
  </ul>
</div>
