---
layout: default
title: Workshops e Palestras
---

<header class="header">
  <div class="wrapper">
    <h1 class="header-title">
      <strong>Palestras</strong><br> e workshops
    </h1>
  </div>
</header>

<div class="main main-list">
  <ul class="wrapper list">
  {% for talk in site.data.talks %}
    <li class="list-item">
      <time class="item-date" datetime="{{ talk.date | date: '%Y-%m-%d' }}">
        <span class="item-date-year">{{ talk.date | date_year }}</span>
        <span class="item-date-month">{{ talk.date | date_month }}</span>
      </time>
      {% if talk.event %}
        <span class="item-event">{{ talk.event }}</span>
      {% endif %}
      <a class="item-link" href="{{ talk.url }}">
        <span class="item-title">{{ talk.title }}</span>
      </a>
      {% if talk.video_url %}
        Assista ao <a href="{{ talk.video_url }}">vídeo</a> da apresentação
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</div>
