---
layout: default
title: Workshops e Palestras
---

<header class="header">
  <div class="wrapper">
    <h1 class="header-title">
      Talks and<br> workshops
    </h1>
  </div>
</header>

<div class="main main-list">
  <ul class="wrapper list">
  {% for talk in site.data.talks %}
    <li class="list-item">
      <span class="empashis-item">{{ talk.date | date: '%Y' }}</span>
      <span class="empashis-item">{{ talk.date | date: '%B' }}</span>
      {% if talk.event %}
        <span class="empashis-item">{{ talk.event }}</span>
      {% endif %}
      <a class="item-link" href="{{ talk.url }}">
        <span class="item-title">{{ talk.title }}</span>
      </a>
      {% if talk.video_url %}
        Assista ao <a href="{{ talk.video_url }}">vídeo</a> da apresentação
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</div>
