---
layout: default
title: Workshops e Palestras
permalink: talks.html
---

<header class="header">
  <div class="wrapper">
    <h1 class="header-title">
      Talks and<br> workshops
    </h1>
  </div>
</header>

<div class="main main-list">
  <ul class="wrapper list">
  {% for talk in site.data.talks %}
    <li class="list-item">
      <span class="empashis-item">{{ talk.date | date: '%Y' }}</span>
      <span class="empashis-item">{{ talk.date | date: '%B' }}</span>

      <a class="item-link" href="{{ talk.url }}">
        <span class="item-title">
          <span class="item-main-title">{{ talk.title }}</span>
        </span>
      </a>
      {% if talk.event %}
        Presetend at {{ talk.event }}.
      {% endif %}
      {% if talk.video_url %}
        Check the <a href="{{ talk.video_url }}">video</a> recording.
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</div>
